<!-- jQuery  -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/detect.js"></script>
<script src="/static/js/sweet_alert/sweetalert.min.js"></script>
<script src="/static/js/fastclick.js"></script>
<script src="/static/js/jquery.blockUI.js"></script>
<script src="/static/js/waves.js"></script>
<script src="/static/js/jquery.nicescroll.js"></script>
<script src="/static/js/jquery.slimscroll.js"></script>
<script src="/static/js/jquery.scrollTo.min.js"></script>

<!-- responsive-table-->
{#<script src="/static/plugins/responsive-table/js/rwd-table.min.js" type="text/javascript"></script>#}

<!-- App js -->
<script src="/static/js/jquery.core.js"></script>
<script src="/static/js/jquery.app.js"></script>

 <!-- Validation js (Parsleyjs) -->
<script type="text/javascript" src="/static/plugins/parsleyjs/dist/parsley.min.js"></script>
