{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xl-12">
                    <div class="card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                        </div>

                        <h4 class="header-title m-t-0 m-b-30">更新用户</h4>

                        <form class="form-horizontal" role="form" data-parsley-validate novalidate method="post">
                            {% csrf_token %}
                            {% bootstrap_field form.username layout="horizontal" %}
                            {% bootstrap_field form.email layout="horizontal" %}
                            {% bootstrap_field form.password layout="horizontal" %}
                            <div class="form-group">
                                <div class="offset-sm-4 col-sm-8">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">
                                        提交
                                    </button>
                                    <button type="reset"
                                            class="btn btn-secondary waves-effect waves-light m-l-5">
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div>
{% endblock %}